.container {
    position: relative;
}

.iconContainer {
    position: absolute;
    right: 1rem;
    top: 2.2rem;
    cursor: pointer;
    color: var(--blue);
    &:hover {
        color: var(--blueMix);
    }
}
